<!-- country-details.html -->
<div class='detailsView'>
	<div class="countryTitle">{{ details.country }}</div>
	<div>
		<span>Population of Country: </span>
		<span>{{ details.population | number }}</span>
	</div>
	<div>
		<span>Area: </span>
		<span>{{ details.area | number }}</span>
	</div>
	<div>
		<span>Capital: </span>
		<span>{{ details.capital }}</span>
	</div>
	<div>
		<span>Population of Capital: </span>
		<span>{{ details.capitalPopulation | number }}</span>
	</div>
	<div class="neighborsDiv">
		<span>{{ details.neighbors.length }} Neighbors: </span>
		<span>
			<span ng-repeat="n in details.neighbors">{{ n }}<span ng-if="$index != details.neighbors.length-1">, </span></span>
		</span> 
	</div>
	<div>
		<img ng-src="http://www.geonames.org/flags/x/{{ details.countryCode.toLowerCase() }}.gif">
		<img ng-src="http://www.geonames.org/img/country/250/{{ details.countryCode }}.png">
	</div>

	<a href="/"><span class="button">Home</span></a>
	<a href="#/countries"><span class="button">Browse Countries</span></a>
</div>